<div class="container">
  <div class="row d-flex justify-content-center mt-5 mx-3">
    <form class="login-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field [style.fontSize.px]="16" class="full-width">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="username" required />
      </mat-form-field>
      <mat-form-field [style.fontSize.px]="16" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>
      <button
        mat-stroked-button
        type="submit"
        [disabled]="form.invalid || disableLoginButton"
        class="full-width mt-1"
      >
        Login
      </button>
    </form>
  </div>
</div>
